# Base de datos (datos locales, no van al repo)
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entornos virtuales
venv/
.venv/
env/

# Django
*.log
local_settings.py

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/